@model Auction.Domain.Models.Setting
@{
    ViewData["Title"] = "تنظیمات";
}


<div class="hero-section style-2 pb-lg-400">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Index">خانه</a>
            </li>
            <li>
                <span>تنظیمات</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="./assets/images/banner/hero-bg.png"></div>
</div>


<section class="dashboard-section padding-bottom mt--240 mt-lg--325 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <partial name="_Dashboard" />
            <div class="col-lg-8">
                <div class="dashboard-widget mb-40">
                    <div class="dashboard-title mb-30">
                        <h5 class="title">تنظیمات</h5>
                        @if (TempData["Result"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                عملیات با موفقیت انجام شد !
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span style="position: absolute; right: 30px; top: 30%;"
                                              aria-hidden="true">×</span>
                                    </button>
                                </div>
                            }
                    </div>
                    <div class="justify-content-center mb-30-none">
                        <form asp-action="Index" method="post">
                            <input type="hidden" asp-for="SettingId"/>
                            <div class="row form-group">

                                <div class="col-md-6 col-sm-6 ">
                                    <label asp-for="CommissionPercentage"></label>
                                    <input type="number" asp-for="CommissionPercentage">
                                    <span asp-validation-for="CommissionPercentage" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label asp-for="GrowthLadder"></label>
                                    <input type="number" asp-for="GrowthLadder">
                                    <span asp-validation-for="GrowthLadder" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-2 d-flex justify-content-end">
                                <button type="submit" class="btn btn-success">ثبت</button>
                            </div>
                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section script
{
    <script>
        $("#setting").addClass('active');
    </script>
}