@using Auction.Application.Interfaces
@using Auction.Application.Utilities
@inject IUserService UserService;
@inject IWalletService WalletService;
@{
    var user = UserService.GetUser(User.GetUserId());
    var balanceUserWallet = WalletService.BalanceUserWallet(User.GetUserId());
}

<div class="col-sm-10 col-md-7 col-lg-4">
                    <div class="dashboard-widget mb-30 mb-lg-0">
                        <div class="user">
                            <div class="thumb-area">
                                <div class="thumb">
                                    <img src="/assets/images/client/@user.Avatar" alt="user">
                                </div>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#0">@user.FullName</a></h5>
                                <h6 class="title"><a href="#0">کیف پول: @balanceUserWallet.ToString("#,0 تومان")</a></h6>
                                <span class="username">@user.Email</span>
                            </div>
                        </div>
                        <ul class="dashboard-menu">
                            <li>
                                <a asp-controller="Dashboard" asp-action="Index" id="dashboard"><i class="flaticon-dashboard"></i>داشبورد</a>
                            </li>
                            <li>
                                <a id="wallet" asp-controller="Wallet"asp-action="Index"><i class="flaticon-money"></i>کیف پول</a>
                            </li>
                            <li>
                                <a asp-controller="Product" asp-action="Winner" id="winner"><i class="flaticon-best-seller"></i> برنده شده ها</a>
                            </li>
                            <li>
                                <a asp-controller="Product" asp-action="Auction" id="auction"><i class="flaticon-shake-hand"></i>حراجی ها</a>
                            </li>
                            <li>
                                <a asp-controller="Product" asp-action="Index" id="product"><i class="flaticon-bag"></i>محصولات</a>
                            </li>
                            @if (User.GetUserId() == 1)
                            {
                                <li>
                                    <a asp-controller="Setting" asp-action="Index" id="setting"><i class="flaticon-settings"></i>تنظیمات</a>
                                </li>
                            }
                            <li>
                                <a asp-controller="Account" asp-action="Logout" ><i class="flaticon-check-1"></i>خروج</a>
                            </li>
                        </ul>
                    </div>
                </div>