@using Auction.Application.Interfaces
@inject ICategoryService CategoryService
@{
    var categories = CategoryService.GetCategories();
}
<header>
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper">
                    <ul class="cart-button-area">

                        @if (User?.Identity?.IsAuthenticated??false)
                        {
                            <li>
                                <a asp-controller="Dashboard" asp-action="Index" class="user-button"><i class="flaticon-user"></i></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="SignIn" class="user-button"><i class="flaticon-user"></i></a>
                            </li>
                        }
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="/assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <ul class="menu ml-auto">
                        <li>
                            <a href="#0">دسته بندی ها</a>
                            <ul class="submenu">
                                @foreach (var item in categories)
                                {
                                    <li>
                                        <a asp-controller="Product" asp-action="Search" asp-route-categoryId="@item.CategoryId" >@item.CategoryName</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <form class="search-form" asp-controller="Product" asp-action="Search" method="get">
                        <input type="text" placeholder="جستجوی مارک ، مدل ...." name="filter" id="filter">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="search-bar d-md-none">
                        <a href="#0"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>