


@{
    ViewData["Title"] = "افزودن";
}




<div class="hero-section style-2 pb-lg-400">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Index">خانه</a>
            </li>
            <li>
                <a asp-controller="Product" asp-action="Index">حراج</a>
            </li>
            <li>
                <span>افزودن</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="/assets/images/banner/hero-bg.png"></div>
</div>
