@using Auction.Domain.Convertors
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Auction.Domain.Models.ProductImage>
@{
    ViewData["Title"] = "تصاویر محصول";
}

<div class="hero-section style-2 pb-lg-400">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Index">خانه</a>
            </li>
            <li>
                <a asp-controller="Product" asp-action="Index">حراج</a>
            </li>
            <li>
                <span>تصاویر محصول</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="/assets/images/banner/hero-bg.png"></div>
</div>

<section class="dashboard-section padding-bottom mt--240 mt-lg--325 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <partial name="_Dashboard" />
            <div class="col-lg-8">
                <div class="dashboard-widget">
                    <div class="dashboard-purchasing-tabs">
                            <a  asp-controller="ProductImage" asp-action="Create" asp-route-id="@ViewBag.ProductId"class="btn col-lg-2 btn-primary mb-4 mr-1">افزودن</a>
                        <div class="tab-content">
                            <div class="tab-pane show active fade">
                                <table class="purchasing-table">
                                    <thead>
                                    <th></th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                       @foreach (var item in Model)
                                       {
                                           <tr id="ProductImage_@(item.ProductImageId)">
                                               <td >
                                                   <div class="thumb">
                                                       <img src="@item.ProductImageName" alt="history">
                                                   </div>
                                               </td>
                                               <td>
                                                   <a onclick="DeleteProductImageId(@item.ProductImageId)" class="mr-2"><i class="fas fa-trash-alt text-info"></i></a>
                                               </td>
                                           </tr>
                                       }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section script
{
    
    <script src="/assets/js/sweetalert2.all.min.js"></script>

    <script>
        $("#product").addClass('active');
    </script>
    
    <script>
        function DeleteProductImageId(id) {

            Swal.fire({
                title: 'آیا مطمئنید؟',
                text: "این عمل قابل بازگشت نخواهد بود!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'تایید',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                cancelButtonText: 'انصراف',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                    $.get("/ProductImage/Delete/" + id,
                        function (data) {
                            if (data) {
                                $("#ProductImage_" + id).hide('slow');

                                Swal.fire({
                                    type: "success",
                                    title: 'حذف شد!',
                                    text: ' تصویر محصول با موفقیت حذف شد',
                                    confirmButtonClass: 'btn btn-success',
                                    confirmButtonText: 'باشه',
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "خطا!",
                                    text: "حذف با خطا مواجه شد!",
                                    type: "error",
                                    confirmButtonClass: 'btn btn-primary',
                                    confirmButtonText: 'باشه',
                                    buttonsStyling: false,
                                });
                            }


                        });
                }
            });

        }
    </script>
}
